<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>IDP - Upload Document</title>
</head>
<body>

    <div class="container">
        <h1>IntelliDoc</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="document" accept=".png,.jpg,.jpeg" required>
            <br>
            <button type="submit">Extract Text</button>
        </form>

        {% if text %}
        <div class="result">
            <h3>Extracted Text:</h3>
            <p>{{ text }}</p>
        </div>

        <a href="{{ url_for('download_txt', text=text) }}">
            <button>Download as TXT</button>
        </a>

        <a href="{{ url_for('download_pdf', text=text) }}">
            <button>Download as PDF</button>
        </a>
        {% endif %}

        {% if summary %}
        <div class="result">
            <h3>Summary:</h3>
            <p>{{ summary }}</p>
        </div>
        {% endif %}
    </div>

       
    </div>

</body>
</html>
